# Django
SECRET_KEY=django-insecure-change-me-in-production
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1

# Database
# En local (hors Docker): localhost:5432
# Sous Docker Compose: remplacer localhost par 'postgres'
DATABASE_URL=postgresql://postgres:6kVus4jNASCFsrwI@db.hdytbqwvtvqeyswntoyq.supabase.co:5432/postgres

# Anthropic
ANTHROPIC_API_KEY=sk-ant-api03-kjB5igrBXxtCr141rLoxKHE5Ve_GypXPui3Ypb_5tinPOt39DN1iHFWFAPYrWt8XRnvToQzoDPYww1gvnd4dRQ-OjK2K
